<% include ../admininclude/header.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>

<script>
$("#home").removeClass( "active" );
$("#movieset").addClass( "active" );

</script>
<style>
  .tab-pane .btn-xm{
    border:1px solid white;
    opacity: 0.7;
    background-color: #343a40;
    color: white;
    border-radius:1px;
  }

.tab-pane .btn-xm:hover{
  border:1px solid #868e96;
  opacity: 0.7;
  background-color: white;
  color: #868e96;
  border-radius:1px;
}
#pagination li:active {
  background-color:#495057;
}

input[type=text].mysearch {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('/img/search_icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
</style>

<section id="main-content">
  <section class="wrapper">
    <div class="row mt content-panel" style="margin:15px;padding:15px">
      <div id="edit" class="tab-pane">

        <h2  style="margin-top: 10px; display:inline-block"><strong> CinemaWorld Database</strong></h2>

        <a class="btn btn pull-right btn-xm" id="remove-all" style="margin-top: 15px; href="">새영화등록</a>
        <hr>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>감독</th>
              <th>개봉날짜</th>
              <th>상영시간</th>
              <th>평점</th>
            </tr>
          </thead>
          <%
          var start=(PageMaker.page*PageMaker.page_num)-PageMaker.page_num;
          var end=(PageMaker.page*PageMaker.page_num);
          if(end>rows.length)
            end=rows.length;
           for(var i=start; i<end; i++){
                var item = rows[i];
          %>
            <tr>
              <td><%= i+1 %></td>
              <td><a href="/admin/movie/read?movieid=<%=item.movieid %>&page=<%=PageMaker.page%>"> <%= item.title %> </a></td>
              <td><%= item.name %></td>
              <td><%= item.releasedate %></td>
              <td><%= item.runtime %></td>
              <td><%= item.voteavg %></td>
            </tr>
          <%
            }
          %>
        </table>

        <ul id="pagination" class="pagination pagination-sm no-margin pull-right">
         <%
            if(PageMaker.prev){
          %>
          <li><a href="/admin/movie/<%=PageMaker.startPage-1 %>"> 이전</a></li>
          <%
          }
             for(var i=PageMaker.startPage; i<= PageMaker.endPage; i++){

                if(PageMaker.page==(i)){
          %>
                 <li class="active"><a href="/admin/movie/<%=i%>"> <%= i %></a></li>
          <%
                }
                else{
          %>
                 <li><a href="/admin/movie/<%=i %>"> <%= i %></a></li>
          <%
                }
            }
            if(PageMaker.next){
          %>
            <li><a href="/admin/movie/<%=PageMaker.endPage+1 %>"> 다음</a></li>
          <%
            }
          %>
        </ul>
        <form method="get" action="/admin/movie">
          <input class="mysearch" type="text" name="search" placeholder="Search..">
        </form>
        <br>
      </div>
    </div>
    </section>
</section>
<% include ../admininclude/footer.ejs %>
